.navbar-brand{
	color: #ffffff;
}

.btn-primary, .dropdown-toggle, .dropdown-item, .dropdown-search, .bs-searchbox, .bs-actionsbox .bootstrap-select.form-control{
	color: #ffffff;
	background-color: #000000;
}

.pdf-container{
	margin: auto;
	width: 50%;
	height: 750px;
}

.justified-text{
	text-align:justify;
}

.title{
	font-size: 30px;
	color: #ffffff
}

.centered-image{
	text-align:center;
	/padding-top: 100px;
	width: 50%;
	margin: auto;
}

.centered-text{
	text-align:center;
}

.column {
	float: left;
	width: 33.33%;
	padding: 10px;
}

.video{
	padding-top: 7%;
	width: 55%;
	float: right;
}

.video iframe{
	width: 63%;
	height: 63%;
	position: absolute;
	left: 36%;
}

.textColumn{
	height: 90%;
	width: 35%;
	overflow-y: scroll;
	position: absolute;
	float: left;
	text-align: center;
	margin: auto;
}

table, th, td{
	border: 1px solid white;
	border-spacing: 5px;
	color: #fff;
	background-color:000;
	text-align: center;
	font-size: 18px;
}

img
{
	width: 50%;
	margin: auto;
}

body {
	padding-top: 30px 
	font-family: "Segoe UI" !important;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}

h1{
	font-size: 44px;
}

p
{
	font-size: 18px;
}
