.navbar-brand{
	color: #ffffff;
}

.btn-primary{
	color: #ffffff;
	background-color: #000000;
}


.pdf-container{
	margin: auto;
	width: 50%;
	height: 750px;
}

.justified-text{
	text-align:justify;
}

.title{
	font-size: 30px;
	color: #ffffff
}

.centered-image{
	text-align:center;
	/padding-top: 100px;
	width: 50%;
	margin: auto;
}

.centered-text{
	text-align:center;
}

.column {
	float: left;
	width: 33.33%;
	padding: 10px;
}

.video{
	padding-top: 4%;
	width: 66.6%;
	float: right;
}

.video iframe{
	width: 79%;
	height: 79%;
	position: absolute;
	left: 21%;
}

.textColumn{
	height: 90%;
	width: 20%;
	overflow-y: scroll;
	position: absolute;
	float: left;
}

img
{
	width: 50%;
	margin: auto;
}

body {
	padding-top: 30px 
	font-family: "Segoe UI" !important;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}

h1{
	font-size: 44px;
}

p
{
	font-size: 16px;
}
